@model Teste_Aptidao_UGB.Model.Models.Departamento

@{
    ViewData["Title"] = "Editar departamento";
}


<h4>Editar departamento</h4>
<hr />
@{
    if (ViewData["Mensagem"] != null)
    {
        <a asp-action="Create" class="btn-sm btn-primary"> <i class="fa fa-user-plus"></i>&nbsp; Novo departamento</a>
    }
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input asp-for="Decodigo" type="hidden" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Dedescricao"></label>
                <input asp-for="Dedescricao" class="form-control" />
                <span asp-validation-for="Dedescricao" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <button class="btn-sm btn-success"><i class="fa fa-save"></i>&nbsp; Salvar</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Voltar para a lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        var mensagem = "@ViewData["Mensagem"]";
        var mensagemErro = "@ViewData["MensagemErro"]";
    </script>

    <script>
        if (mensagem != "") {
            MensagemOK(mensagem);
        }
        if (mensagemErro != "") {
            MensagemErro(mensagemErro);
        }
    </script>
}