CREATE DATABASE SOLICITACAO_MATERIAIS
GO
USE [SOLICITACAO_MATERIAIS]
GO
/****** Object:  Table [dbo].[ENTRADA]    Script Date: 29/10/2023 23:15:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENTRADA](
	[ETCodigo] [int] IDENTITY(1,1) NOT NULL,
	[ETNotaFiscal] [varchar](100) NULL,
	[ETData] [datetime] NULL,
	[ETCodDeposito] [int] NULL,
	[ETCodFornecedor] [int] NULL,
	[ETQuantidade] [int] NULL,
	[ETCodProduto] [bigint] NULL,
 CONSTRAINT [PK_DBO.ENTRADA] PRIMARY KEY CLUSTERED 
(
	[ETCodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUTOS]    Script Date: 29/10/2023 23:15:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUTOS](
	[PRCodigoEAN] [bigint] NOT NULL,
	[PRDescricao] [varchar](max) NULL,
	[PRPrecoUnitario] [decimal](18, 2) NULL,
	[PRCotaMinimaEstoque] [int] NULL,
	[PRCodUnidade] [int] NULL,
 CONSTRAINT [PK_DBO.PRODUTOS] PRIMARY KEY CLUSTERED 
(
	[PRCodigoEAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAIDA]    Script Date: 29/10/2023 23:15:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAIDA](
	[SACodigo] [int] IDENTITY(1,1) NOT NULL,
	[SACodUsuario] [int] NULL,
	[SACodProduto] [bigint] NULL,
	[SACodDepartamento] [int] NULL,
	[SAData] [datetime] NULL,
	[SAQuantidade] [int] NULL,
 CONSTRAINT [PK_DBO.SAIDA] PRIMARY KEY CLUSTERED 
(
	[SACodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_ESTOQUE]    Script Date: 29/10/2023 23:15:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_ESTOQUE] AS

SELECT 
	SUM (ETQuantidade) - 
	(SELECT ISNULL (SUM (S.SAQuantidade), 0) FROM SAIDA S WHERE S.SACodProduto = E.ETCodProduto) AS Quantidade,
	E.ETCodProduto,
	PROD.PRDescricao


FROM ENTRADA E
JOIN PRODUTOS PROD ON PROD.PRCodigoEAN = E.ETCodProduto
GROUP BY E.ETCodProduto, PROD.PRDescricao

GO
/****** Object:  Table [dbo].[DEPARTAMENTO]    Script Date: 29/10/2023 23:15:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTAMENTO](
	[DECodigo] [int] IDENTITY(1,1) NOT NULL,
	[DEDescricao] [varchar](50) NULL,
 CONSTRAINT [PK_DBO.DEPARTAMENTO] PRIMARY KEY CLUSTERED 
(
	[DECodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPOSITOS]    Script Date: 29/10/2023 23:15:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPOSITOS](
	[DECodigo] [int] IDENTITY(1,1) NOT NULL,
	[DEDescricao] [varchar](50) NULL,
 CONSTRAINT [PK_DBO.DEPOSITOS] PRIMARY KEY CLUSTERED 
(
	[DECodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENDERECO]    Script Date: 29/10/2023 23:15:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENDERECO](
	[ENCodigo] [int] IDENTITY(1,1) NOT NULL,
	[ENLogradouro] [varchar](max) NULL,
	[ENCEP] [int] NULL,
	[ENComplemento] [varchar](max) NULL,
	[ENBairro] [varchar](100) NULL,
	[ENCidade] [varchar](200) NULL,
	[ENEstado] [varchar](50) NULL,
	[ENNumero] [varchar](50) NULL,
	[ENCodFornecedor] [int] NULL,
 CONSTRAINT [PK_DBO.ENDERECO] PRIMARY KEY CLUSTERED 
(
	[ENCodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FORNECEDORES]    Script Date: 29/10/2023 23:15:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FORNECEDORES](
	[FOCodigo] [int] IDENTITY(1,1) NOT NULL,
	[FONome] [varchar](200) NULL,
	[FOCNPJ] [varchar](50) NULL,
	[FOInscricaoEstadual] [varchar](50) NULL,
	[FOInscricaoMunicipal] [varchar](50) NULL,
	[FOEmail] [varchar](200) NULL,
 CONSTRAINT [PK_DBO.FORNECEDORES] PRIMARY KEY CLUSTERED 
(
	[FOCodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDEM_COMPRA]    Script Date: 29/10/2023 23:15:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDEM_COMPRA](
	[OCCodigo] [int] IDENTITY(1,1) NOT NULL,
	[OCCodFornecedor] [int] NULL,
	[OCData] [datetime] NULL,
	[OCSolicitada] [bit] NULL,
 CONSTRAINT [PK_DBO.ORDEM_COMPRA] PRIMARY KEY CLUSTERED 
(
	[OCCodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDEM_COMPRA_SOLICITACAO]    Script Date: 29/10/2023 23:15:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDEM_COMPRA_SOLICITACAO](
	[OSCodigo] [int] IDENTITY(1,1) NOT NULL,
	[OSCodOrdemCompra] [int] NULL,
	[OSCodSolicitacao] [int] NULL,
	[OSDataEntrega] [datetime] NULL,
	[OSQuantidade] [int] NULL,
 CONSTRAINT [PK_DBO.ORDEM_COMPRA_SOLICITACAO] PRIMARY KEY CLUSTERED 
(
	[OSCodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICOS]    Script Date: 29/10/2023 23:15:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICOS](
	[SECodigo] [int] IDENTITY(1,1) NOT NULL,
	[SENome] [varchar](max) NULL,
	[SEDescricao] [varchar](max) NULL,
	[SECodFornecedor] [int] NULL,
	[SEPrazoEntrega] [datetime] NULL,
	[SEValor] [decimal](18, 2) NULL,
 CONSTRAINT [PK_DBO.SERVICOS] PRIMARY KEY CLUSTERED 
(
	[SECodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SOLICITACAO]    Script Date: 29/10/2023 23:15:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOLICITACAO](
	[SOCodigo] [int] IDENTITY(1,1) NOT NULL,
	[SOCodProduto] [bigint] NULL,
	[SOQuantidade] [int] NULL,
	[SOCodDepartamento] [int] NULL,
	[SOCodUsuario] [int] NULL,
	[SOData] [datetime] NULL,
	[SOCodServico] [int] NULL,
	[SOCodFornecedor] [int] NULL,
	[SOObservacao] [varchar](max) NULL,
	[SOConcluida] [bit] NULL,
 CONSTRAINT [PK_DBO.SOLICITACAO] PRIMARY KEY CLUSTERED 
(
	[SOCodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UNIDADE]    Script Date: 29/10/2023 23:15:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UNIDADE](
	[UNCodigo] [int] IDENTITY(1,1) NOT NULL,
	[UNDescricao] [varchar](max) NULL,
 CONSTRAINT [PK_DBO.UNIDADE] PRIMARY KEY CLUSTERED 
(
	[UNCodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 29/10/2023 23:15:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[USMatricula] [int] NOT NULL,
	[USNome] [varchar](max) NULL,
	[USCodDepartamento] [int] NULL,
 CONSTRAINT [PK_DBO.USUARIOS] PRIMARY KEY CLUSTERED 
(
	[USMatricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ORDEM_COMPRA] ADD  CONSTRAINT [DF_DBO.ORDEM_COMPRA_OCSolicitada]  DEFAULT ((0)) FOR [OCSolicitada]
GO
ALTER TABLE [dbo].[SOLICITACAO] ADD  CONSTRAINT [DF_DBO.SOLICITACAO_SOConcluida]  DEFAULT ((0)) FOR [SOConcluida]
GO
ALTER TABLE [dbo].[ENDERECO]  WITH CHECK ADD  CONSTRAINT [FK_ENDERECO_FORNECEDORES] FOREIGN KEY([ENCodFornecedor])
REFERENCES [dbo].[FORNECEDORES] ([FOCodigo])
GO
ALTER TABLE [dbo].[ENDERECO] CHECK CONSTRAINT [FK_ENDERECO_FORNECEDORES]
GO
ALTER TABLE [dbo].[ENTRADA]  WITH CHECK ADD  CONSTRAINT [FK_DBO.ENTRADA_DBO.DEPOSITOS] FOREIGN KEY([ETCodDeposito])
REFERENCES [dbo].[DEPOSITOS] ([DECodigo])
GO
ALTER TABLE [dbo].[ENTRADA] CHECK CONSTRAINT [FK_DBO.ENTRADA_DBO.DEPOSITOS]
GO
ALTER TABLE [dbo].[ENTRADA]  WITH CHECK ADD  CONSTRAINT [FK_DBO.ENTRADA_DBO.FORNECEDORES] FOREIGN KEY([ETCodFornecedor])
REFERENCES [dbo].[FORNECEDORES] ([FOCodigo])
GO
ALTER TABLE [dbo].[ENTRADA] CHECK CONSTRAINT [FK_DBO.ENTRADA_DBO.FORNECEDORES]
GO
ALTER TABLE [dbo].[ENTRADA]  WITH CHECK ADD  CONSTRAINT [FK_DBO.ENTRADA_DBO.PRODUTOS] FOREIGN KEY([ETCodProduto])
REFERENCES [dbo].[PRODUTOS] ([PRCodigoEAN])
GO
ALTER TABLE [dbo].[ENTRADA] CHECK CONSTRAINT [FK_DBO.ENTRADA_DBO.PRODUTOS]
GO
ALTER TABLE [dbo].[ENTRADA]  WITH CHECK ADD  CONSTRAINT [FK_ENTRADA_DEPOSITOS] FOREIGN KEY([ETCodDeposito])
REFERENCES [dbo].[DEPOSITOS] ([DECodigo])
GO
ALTER TABLE [dbo].[ENTRADA] CHECK CONSTRAINT [FK_ENTRADA_DEPOSITOS]
GO
ALTER TABLE [dbo].[ENTRADA]  WITH CHECK ADD  CONSTRAINT [FK_ENTRADA_FORNECEDORES] FOREIGN KEY([ETCodFornecedor])
REFERENCES [dbo].[FORNECEDORES] ([FOCodigo])
GO
ALTER TABLE [dbo].[ENTRADA] CHECK CONSTRAINT [FK_ENTRADA_FORNECEDORES]
GO
ALTER TABLE [dbo].[ENTRADA]  WITH CHECK ADD  CONSTRAINT [FK_ENTRADA_PRODUTOS] FOREIGN KEY([ETCodProduto])
REFERENCES [dbo].[PRODUTOS] ([PRCodigoEAN])
GO
ALTER TABLE [dbo].[ENTRADA] CHECK CONSTRAINT [FK_ENTRADA_PRODUTOS]
GO
ALTER TABLE [dbo].[ORDEM_COMPRA_SOLICITACAO]  WITH CHECK ADD  CONSTRAINT [FK_DBO.ORDEM_COMPRA_SOLICITACAO_DBO.ORDEM_COMPRA] FOREIGN KEY([OSCodOrdemCompra])
REFERENCES [dbo].[ORDEM_COMPRA] ([OCCodigo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ORDEM_COMPRA_SOLICITACAO] CHECK CONSTRAINT [FK_DBO.ORDEM_COMPRA_SOLICITACAO_DBO.ORDEM_COMPRA]
GO
ALTER TABLE [dbo].[ORDEM_COMPRA_SOLICITACAO]  WITH CHECK ADD  CONSTRAINT [FK_DBO.ORDEM_COMPRA_SOLICITACAO_DBO.SOLICITACAO] FOREIGN KEY([OSCodSolicitacao])
REFERENCES [dbo].[SOLICITACAO] ([SOCodigo])
GO
ALTER TABLE [dbo].[ORDEM_COMPRA_SOLICITACAO] CHECK CONSTRAINT [FK_DBO.ORDEM_COMPRA_SOLICITACAO_DBO.SOLICITACAO]
GO
ALTER TABLE [dbo].[PRODUTOS]  WITH CHECK ADD  CONSTRAINT [FK_DBO.PRODUTOS_DBO.UNIDADE] FOREIGN KEY([PRCodUnidade])
REFERENCES [dbo].[UNIDADE] ([UNCodigo])
GO
ALTER TABLE [dbo].[PRODUTOS] CHECK CONSTRAINT [FK_DBO.PRODUTOS_DBO.UNIDADE]
GO
ALTER TABLE [dbo].[SERVICOS]  WITH CHECK ADD  CONSTRAINT [FK_DBO.SERVICOS_DBO.FORNECEDORES] FOREIGN KEY([SECodFornecedor])
REFERENCES [dbo].[FORNECEDORES] ([FOCodigo])
GO
ALTER TABLE [dbo].[SERVICOS] CHECK CONSTRAINT [FK_DBO.SERVICOS_DBO.FORNECEDORES]
GO
ALTER TABLE [dbo].[SOLICITACAO]  WITH CHECK ADD  CONSTRAINT [FK_DBO.SOLICITACAO_DBO.DEPARTAMENTO] FOREIGN KEY([SOCodDepartamento])
REFERENCES [dbo].[DEPARTAMENTO] ([DECodigo])
GO
ALTER TABLE [dbo].[SOLICITACAO] CHECK CONSTRAINT [FK_DBO.SOLICITACAO_DBO.DEPARTAMENTO]
GO
ALTER TABLE [dbo].[SOLICITACAO]  WITH CHECK ADD  CONSTRAINT [FK_DBO.SOLICITACAO_DBO.FORNECEDORES] FOREIGN KEY([SOCodFornecedor])
REFERENCES [dbo].[FORNECEDORES] ([FOCodigo])
GO
ALTER TABLE [dbo].[SOLICITACAO] CHECK CONSTRAINT [FK_DBO.SOLICITACAO_DBO.FORNECEDORES]
GO
ALTER TABLE [dbo].[SOLICITACAO]  WITH CHECK ADD  CONSTRAINT [FK_DBO.SOLICITACAO_DBO.PRODUTOS] FOREIGN KEY([SOCodProduto])
REFERENCES [dbo].[PRODUTOS] ([PRCodigoEAN])
GO
ALTER TABLE [dbo].[SOLICITACAO] CHECK CONSTRAINT [FK_DBO.SOLICITACAO_DBO.PRODUTOS]
GO
ALTER TABLE [dbo].[SOLICITACAO]  WITH CHECK ADD  CONSTRAINT [FK_DBO.SOLICITACAO_DBO.SERVICOS] FOREIGN KEY([SOCodServico])
REFERENCES [dbo].[SERVICOS] ([SECodigo])
GO
ALTER TABLE [dbo].[SOLICITACAO] CHECK CONSTRAINT [FK_DBO.SOLICITACAO_DBO.SERVICOS]
GO
ALTER TABLE [dbo].[SOLICITACAO]  WITH CHECK ADD  CONSTRAINT [FK_DBO.SOLICITACAO_DBO.USUARIOS] FOREIGN KEY([SOCodUsuario])
REFERENCES [dbo].[USUARIOS] ([USMatricula])
GO
ALTER TABLE [dbo].[SOLICITACAO] CHECK CONSTRAINT [FK_DBO.SOLICITACAO_DBO.USUARIOS]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_DBO.USUARIOS_DBO.DEPARTAMENTO] FOREIGN KEY([USCodDepartamento])
REFERENCES [dbo].[DEPARTAMENTO] ([DECodigo])
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FK_DBO.USUARIOS_DBO.DEPARTAMENTO]
GO
